<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIC/XE VM</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="app">
    <div v-if="err_msg" class="err-msg" v-on:click="()=>err_msg = ''" style="display: none;" v-bind:style="{display: err_msg? 'default': 'none'}">{{err_msg}}</div>

    <div class="side-layout" v-bind:class="{dark: isDarkMode || (isFastRun && isSeqStart)}">

      <div class="editor" v-bind:class="{open: isEditorOpen}">
        <div class="toolbar">
          <div style="margin-left: 16px; flex:1;min-width: 120px;width:100%;"><strong>[] Assembly</strong></div>
          <button class="text"  v-on:click="">^</button>
          <button class="text"  v-on:click="assemblyRun">run</button>
          <button class="text">reset</button>
          <div style="height: 30px;width:1px;margin: 0px 10px; background: rgba(0,0,0,.35);"></div>
        </div>
        <textarea ref="editorTextbox" placeholder="// Start type assembly here!" v-on:keydown="onEditorType"></textarea>
      </div>
      <div style="position:relative;height: 100%; max-height: 100svh;width: 100%;overflow: hidden auto;mix-blend-mode: difference;">
        <canvas width="600" height="600"></canvas>
        <div class="emulator">
          <div class="topbar">
            <button class="icon-btn menu-btn" title="open editor" v-on:click="toggleEditor">
              <i class="material-icons">menu</i>
              </button>
              <div style="flex:1;"><strong>SIC/XE (IDE)</strong></div>
              <button class="icon-btn play" title="fast run switch" v-on:click="toggleFastRun">
                <i v-if="isFastRun" class="material-icons"> fast_forward</i>
                <i v-else class="material-icons">skip_next</i>
              </button>
              <button class="icon-btn" title="muted" v-on:click="toggleMute">
                <i v-if="isMuted" class="material-icons">volume_off</i>
              <i v-else class="material-icons">volume_up</i>
            </button>
            <button class="icon-btn" title="dark mode on/off" v-on:click="toggleDarkMode">
              <i v-if="isDarkMode" class="material-icons">dark_mode</i>
              <i v-else class="material-icons">light_mode</i>
            </button>
          </div>

          <div style="padding: 5vmin;">

            <div style="display: flex; flex-direction: row; align-items: flex-end;padding-bottom: 1rem;">
              <h1 style="margin-bottom: 0rem;">{{title}}</h1>
              <div style="flex:1;"></div>

              <button class="icon-btn play" v-on:click="reset">
                <i class="material-icons">restart_alt</i>
              </button>

              <button class="icon-btn play" v-on:click="step">
                <i class="material-icons">airline_stops</i>
              </button>

              <button class="icon-btn play" v-on:click="start">
                <i class="material-icons" v-if="isSeqStart">pause</i>
                <i class="material-icons" v-else>play_arrow</i>
              </button>

            </div>

            <div class="cycle-ani" v-bind:class="{'clock-on': isProgressBar, 'fast-run': isFastRun}">
              <div class="title"></div>
              <div class="disp"></div>
            </div>

            <div style="margin-top: 32pt;"></div>

            <div class="auto-layout">

              <!-- Registers section -->
              <div class="section">
                <h4><a target="_blank"
                    href="https://en.wikipedia.org/wiki/Simplified_Instructional_Computer#SIC_Architecture">Registers</a>
                </h4>

                <div class="registers fields" style="grid-template-columns: 50px 100px 50px 100px;"> 
                  <span class="label">PC</span><input type="text" pattern="[a-fA-F\d]+" v-model="reg_pc">
                  <span class="label">A</span><input type="text" pattern="[a-fA-F\d]+" v-model="reg_a">

                  <span class="label">X</span><input type="text" pattern="[a-fA-F\d]+" v-model="reg_x">
                  <span class="label">L</span><input type="text" pattern="[a-fA-F\d]+" v-model="reg_l">

                  <span class="label">B</span><input type="text" pattern="[a-fA-F\d]+" v-model="reg_b">
                  <span class="label">S</span><input type="text" pattern="[a-fA-F\d]+" v-model="reg_s">

                  <span class="label">T</span><input type="text" pattern="[a-fA-F\d]+" v-model="reg_t">
                  <span class="label">F</span><input type="text" pattern="[a-fA-F\d]+" v-model="reg_f">

                  <span class="label">SW</span><input style="grid-column: 2/5;width: calc(100% - 50px);" type="text">
                </div>
              </div>

              <!-- Control Unit section -->
              <div class="section">
                <h4>Control Unit</h4>

                <div class="cu fields">
                  
                  <span style="grid-column: 1/5;">instruction register:</span>
                  <input type="text" readonly v-bind:value="((fetched_instr &  0xFF)>>>0).toString(16).padStart(2,'0').toUpperCase()">
                  <input type="text" readonly v-bind:value="((fetched_instr & 0xFF00) >>> 8).toString(16).padStart(2,'0').toUpperCase()">
                  <input type="text" readonly v-bind:value="((fetched_instr & 0xFF0000) >>> 16).toString(16).padStart(2,'0').toUpperCase()">
                  <input type="text" readonly v-bind:value="((fetched_instr & 0xFF000000) >>> 24).toString(16).padStart(2,'0').toUpperCase()">

                  <input type="text" readonly v-bind:value="(fetched_instr &  0xFF).toString(2).padStart(8,'0').toUpperCase()">
                  <input type="text" readonly v-bind:value="((fetched_instr >>> 8) & 0xFF).toString(2).padStart(8,'0').toUpperCase()">
                  <input type="text" readonly v-bind:value="((fetched_instr >>> 16) & 0xFF).toString(2).padStart(8,'0').toUpperCase()">
                  <input type="text" readonly v-bind:value="((fetched_instr >>> 24) & 0xFF ).toString(2).padStart(8,'0').toUpperCase()">

                  <input type="text" readonly v-bind:value="cur_opc">
                  <input type="text" readonly v-bind:value="instr_flag">
                  <input style="grid-column: 3/5; width: 100%;" type="text" readonly>

                  <span class="label">Operand</span><input type="text" readonly v-model="operand">
                  <span class="label">Format</span><input type="text" readonly v-model="fmt_disp">
                </div>

              </div>
              
              <!-- Memory Editor section -->
              <div class="section">
                <h4>Memory unit</h4>

                <div class="cu fields">
                  <span>Segment</span><input placeholder="seg_base" type="number" v-model="seg_base" min="0">
                  <span>~</span><span>{{seg_base+1}}</span>
                  <span style="grid-column: 1/5;height: 10px;">&nbsp;</span>

                  <input v-for="i in 16" v-bind:placeholder="(i-1).toString(16).toUpperCase()" type="text" v-on:input="memEditPoke($event, i)" v-on:change="memAutoOpc" v-model="mem_map[i-1]">

                </div>
              </div>

              <!-- About Section -->
              <div class="section">
                <h4>About</h4>

                <div>
                  1. Get started
                </div>

                <p>
                  You can go though <a target="_blank" href="https://wiki.ljcu.cc/site/sicxe-ide">https://wiki.ljcu.cc/site/sicxe-ide</a> for more info, and <a target="_blank" href="https://github.com/ljcucc/sicxe-ide">https://github.com/ljcucc/sicxe-ide</a> for source code.
                </p>
                
                <br><br>

                <div>
                2. What is SIC? 
                </div>

                <p style="text-align: justify;">
                  The Simplified Instructional Computer (SIC) is a virtual machine introduced in the book "System Software" by Leland Beck.
                  The role of SIC is similar to that of a global language, helping learners build a bridge between their studies and real-world development.
                  <!-- Although SIC has several bugs, it is still used as teaching material in textbooks and serves as the basis for exam questions. -->
                </p>

                <p>
                  I built this platform, so students can learn and feel computer in by audio and viusal
                </p>
              </div>
            </div>
          </div>

          <div style="padding: 32px;">
          <p>(c) ljcucc // Recommend to use Chrome for the best user experience.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>
<script type="module" src="./src/index.js"></script>

</html>