@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;900&family=Roboto+Mono:wght@400;700&display=swap');

:root{
  /* font-family: '', Times, 'Times New Roman', serif; */
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
}

div{
}

input,h1,h2,h3,h4,i{
  mix-blend-mode: multiply;
  /* font-family: 'Noto Serif TC', Times, serif; */
}

body{
  margin:0;
  /* background-color: #fffcf2; */
  /* background-color: f; */
}

.app{
  height: 100svh;
  background-color: #fffcf2;
  --bg:#fffcf2;
  --bg-l:#fffcf2;
}

.side-layout.dark{
  background-color: var(--bg);
  --bg:#000;
  --bg-d:#000;
}

canvas{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

h1,h2,h3,h4,a,span, input,p{
  color:white;
  mix-blend-mode: difference;
}

h1,h2,h3,h4{
  font-weight: 900;
  margin-top:3rem;
  margin-bottom: 3rem;
}

h1{font-size: 30pt;}
h2{font-size: 26pt;}
h3{font-size: 24pt;}
/* h4{font-size: 16pt;} */
h4{font-family: 'Roboto Mono', monospace;}



input[type=text],input[type=number]{
  padding: 0px 0;
  margin: auto;
  max-height: 1.2rem;
  /* border: 1.2pt solid black; */
  border:none;
  border-bottom: 1.2pt solid white;
  background: black;
  color: white;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  caret-shape:block;
  border-radius: 0px;
}

/* input::before{content:"[";}
input::after{content:"]";} */

input:focus{
  filter: invert(100%);
}

button{
  border: 1.2pt solid black;
  background: inherit;

  padding: 8px;
  font-size: inherit;
  font-family: inherit;
  font-weight: 900;
}

button:hover{
  background: black;
  color: white;
}

.hex,input[type=text],input[type=number]{
  width: 5rem;
}

.label{
  display: flex;
  flex-direction: row;
  gap: 6pt;
  text-align: right;
  margin-left: auto;
}

.label::after{
  content: "<-";
}

.fields{
  display: grid;
  gap: 8pt;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  max-width: 400px;
  box-sizing: border-box;
}

.fields *{
  mix-blend-mode: difference;
  color: white;
}

.cycle-ani{
  width: 100%;
  height: 20px;

  border: 1.2pt solid white;

  display: flex;
  flex-direction: column;
  align-items: end;

  z-index: 900;

  background: inherit;
  position:relative;

  overflow: hidden;

  mix-blend-mode: difference;

  transition: box-shadow 0.35s;
  -webkit-transition: box-shadow 0.35s;
}

.cycle-ani>.disp{
  height: 100%;
  width: 0px;
  background-color: white;

  transition: width 0.35s;
}

.dark .cycle-ani.clock-on{
  box-shadow: 0px 0px 50px 10px rgb(255,255,255,0.35);
}

.dark .cycle-ani.clock-on.fast-run{
  box-shadow: 0px 0px 50px 10px rgb(255,255,255,0.35);
  transition: box-shadow 0.35s;
  -webkit-transition: box-shadow 0.35s;
  -moz-transition: box-shadow 0.35s;

  animation-delay: 0.35s;
  animation: 10s ease-in-out 0s infinite alternate fast-run;

  -webkit-animation: 10s ease-in-out 0s infinite alternate fast-run;
  -webkit-animation-delay: 0.35s;

  -moz-animation: 10s ease-in-out 0s infinite alternate fast-run;
  -moz-animation-delay: 0.35s;
}

@keyframes fast-run { from {
  box-shadow: 0px 0px 50px 10px rgb(255,255,255,0.35);
} to {
  box-shadow: 0px 0px 120px 40px rgb(255,255,255,0.5);
}  }

.cycle-ani.clock-on{
  align-items: start;
}

.cycle-ani.clock-on>.disp{
  width: 100%;
}

.cycle-ani>.title{
  position:absolute;
  top: 0;
  left:0;
  /* padding: 3pt; */
  padding-left: 4pt;
  height: 100%;

  font-size: 9pt;
  font-weight: 900;

  mix-blend-mode: difference;
  background: inherit;
  color: white;
  opacity: 0.75;
}

.dark .topbar{
  background-color: var(--bg-d);
}

.topbar{
  padding: 0pt 4pt;
  height: 60px;

  display: flex;
  flex-direction: row;
  gap: 4pt;

  z-index: 1000;

  align-items: center;

  background-color: black;
  mix-blend-mode: normal;

  position: sticky;
  top:0;
  left:0;
  right:0;

  backdrop-filter: blur(5px);
  /* -webkit-backdrop-filter: blur(5px); */
  -moz-backdrop-filter: blur(5px);
}

.topbar *{
  mix-blend-mode: difference;
  color: white;
}

.icon-btn{
  height: 50px;
  width: 50px;

  border: none;
  outline: none;

  mix-blend-mode: difference;
  color: white;
  background: black;
  border-radius: 50%;

  cursor: pointer;

  transition: all 0.35s;
}

.icon-btn *{
  mix-blend-mode: difference;
}

.icon-btn:hover{
  /* background: rgba(255,255,255,0.15); */
  background: #212121;
}

.icon-btn:active{
  /* background: rgba(255,255,255,0.15); */
  background: #424242;
}

.emulator{
  /* mix-blend-mode: multiply; */
  /* background-color: white; */
  min-width: 100vmin;
}

.auto-layout{
  display: flex;
  flex-flow: row wrap;
  gap: 10vmin;
}

.auto-layout>.section{
  max-width: auto;
  /* max-width: 400px; */
  min-width: 400px;
  /* gap: auto; */
  flex: 1;
  box-sizing: border-box;
}

i.material-icons{
  margin-top:5px;
}

.row-layout{
  display: flex;
  flex-flow: row wrap;
  gap: 8pt;
  align-items: center;
}

a{
  filter: contrast(120%) grayscale(100%);
}

a:hover{
  background: white;
  color: black;
  filter: invert(000%) contrast(120%) grayscale(100%);
  text-decoration: underline !important;
  cursor: pointer;
}

a:after{
  content: "↗ ";
  /* text-decoration: underline; */
}

.side-layout{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  height: 100%;

  transition: background 0.75s;
}

.editor{
  --width: min(50vmax, calc(100vmin - 100px) );
  width: var(--width);
  min-width: var(--width);
  margin-left: calc(var(--width) * -1);

  transition: margin-left 0.35s;
  box-sizing: border-box;
}

.editor.open{
  margin:0;
}

.editor>textarea{
  mix-blend-mode: difference;
  color:white;
  background-color: black;
  filter: grayscale(100%);

  font-size: inherit;
  font-family: inherit;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 99%;
  padding: 16pt;
  box-sizing: border-box;
}

.editor>textarea::placeholder{
  mix-blend-mode: difference;
  color:white;
  background-color: black;
  filter: grayscale(100%);
  opacity: 0.35;
}